<section class=" mt-5">
    <h2 class="mb-3"> {{getTitle()}} </h2>
    <form class="mt-2" [formGroup]="formUser" (ngSubmit)="getDataForm()">
        <div class="mb-3">
            <label class="form-label" for="name">Nombre Usuario</label>
            <input class="form-control" type="text" id="name" placeholder="Introduzca nombre de Usuario"
                formControlName="name">
            <small class="error" *ngIf="checkoutForm('name','required')">El campo es requerido</small>
            <small class="error" *ngIf="checkoutForm('name','minlength')">El campo debe de tener al menos tres
                caracteres</small>
        </div>
        <div class="mb-3">
            <label class="form-label" for="lastName">Apellido Usuario</label>
            <input class="form-control" type="text" id="lastName" placeholder="Introduzca apellido de Usuario"
                formControlName="lastName">
            <small class="error" *ngIf="checkoutForm('lastName','required')">El campo es requerido</small>
            <small class="error" *ngIf="checkoutForm('lastName','minlength')">El campo debe de tener al menos tres
                caracteres</small>
        </div>
        <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" type="email" id="email" placeholder="Introduzca apellido de Usuario"
                formControlName="email">
            <small class="error" *ngIf="checkoutForm('email','required')">El campo es requerido</small>
            <small class="error" *ngIf="checkoutForm('email','pattern')">No es un correo válido</small>

        </div>
        <div class="mb-3">
            <label class="form-label" for="imageUser">Imagen Usuario</label>
            <input class="form-control" type="text" id="imageUser" placeholder="Introduzca apellido de Usuario"
                formControlName="imageUser">
            <small class="error" *ngIf="checkoutForm('imageUser','required')">El campo es requerido</small>
            <small class="error" *ngIf="checkoutForm('imageUser','pattern')">No es una URL válida</small>
        </div>
        <button class="btn btn-dark mt-3" [disabled]="!formUser.valid"> {{getTextBtn()}} </button>
    </form>
</section>